# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/

# Archivos de VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Windows adicional
desktop.ini
$RECYCLE.BIN/

# Logs o archivos temporales
*.log

# Archivos de backup
*.bak

# Archivo comprimido de entrega
*.zip

# Archivos temporales de Python
*.tmp

# Ignorar caché de pytest 
.pytest_cache/